.App.dark {
    --bg-color: #1F1E1C;
    --inverted-bg-color: #dcdcdc;

    --primary-color: #FFBD59;
    --secondary-color: #dcdcdc;
    --inverted-primary-color: #c98814;
    --inverted-secondary-color: #1F1E1C;
}