.App.dark {
    --bg-color: #403C3B ;
    --inverted-bg-color: #dcdcdc;

    --primary-color: #618967 ;
    --secondary-color: #dcdcdc;
    --inverted-primary-color: #75a47b;
    --inverted-secondary-color: #1F1E1C;
}