.App.dark {
    --bg-color: #403C3B ;
    --bg-color-secondary: #494544 ;
    --inverted-bg-color: #dcdcdc;

    --primary-color: #618967 ;
    --secondary-color: #dcdcdc;
    --inverted-primary-color: #75a47b;
    --inverted-secondary-color: #1F1E1C;
    --primary-text: #fff;
}