.App.light {
    --bg-color: #dcdcdc;
    --bg-color-secondary: #e8e8e8 ;
    --inverted-bg-color: #403C3B;

    --primary-color: #c98814;
    --secondary-color: #1F1E1C;
    --inverted-primary-color: #FFBD59;
    --inverted-secondary-color: #dcdcdc;
    --primary-text: #1F1E1C;
    --primary-text-rgb: 31, 30, 28;
}