@import "reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/normal";
@import "./fonts";


.App {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}

body {
    background-image: url("https://img.freepik.com/premium-vector/white-background-with-topographic-wavy-pattern-design_664601-229.jpg?w=2000") !important;
}
