.RestListContainer {
    text-align: center;
    margin-top: 30px;
}

.RestList {
    display: grid;
    gap: 20px;
    grid-template-columns: 330px 330px 330px 330px;
    grid-template-rows: 385px 385px 385px;

    padding: 30px;
    justify-content: center;
}