.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--inverted-secondary-color);
    background: var(--inverted-bg-color);
    height: 98px;
    padding: 0 96px;
    a {
        text-decoration: none;
    }
}

.headerLogo {
    color: var(--inverted-primary-color);
    font-family: Roboto, sans-serif;
    font-size: 25px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 25px; /* 100% */
    letter-spacing: 3.75px;
}

.contactsIcon {
    padding: 10px;
    background-color: var(--inverted-primary-color);
    border-radius: 50%;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
        stroke: var(--inverted-secondary-color);
    }
}

.headerBtnCont {
    display: flex;
    gap: 20px;

    a {
        text-decoration: none;
        background-color: var(--inverted-primary-color);
        color: var(--secondary-color);
        padding: 10px 20px;
        border-radius: 6px;
        &:hover,
        &:active {
            background-color: var(--primary-color);
        }

        &:first-child {
            span {
                display: inline-block;
                text-align: center;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: var(--inverted-bg-color);
                color: var(--bg-color);
            }
        }
    }
}