.root {
  width: 100%;
  max-width: 800px;
  margin: 36px auto 0 auto;
}

.backButton {
  color: var(--primary-text);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
}

.verticalLine {
  align-self: stretch;
  width: 4px;
  background-color: var(--primary-color);
}

.titleWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 36px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: var(--primary-text);
  text-transform: uppercase;
}

.formWrapper {
  margin-top: 54px;
  color: var(--primary-text);
  display: grid;
  gap: 22px;
}

.formSectionTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.formSectionTitle2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.cartProduct {
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  padding: 12px;
  line-height: 0px;
  display: flex;
  gap: 12px;
}

.cartImage {
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.cartRight {
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartName {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-text);
}

.cartDescription {
  font-size: 12px;
  list-style: 18px;
  opacity: 0.8;
}