.mealsList {
  margin-top: 50px;
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

.listContainer {
  display: grid;
  justify-content: center;
  gap: 32px;
  grid-template-columns: 420px 420px 420px;
  grid-template-rows: 580px 580px 580px;

  padding: 30px;
}



.verticalLine {
  align-self: stretch;
  width: 4px;
  background-color: var(--primary-color);
}

.titleWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 36px;
  padding-left: 100px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: var(--primary-text);
  text-transform: uppercase;
}