.mealsList {
  margin-top: 50px;
  h1 {
    text-align: center;
    font-size: 46px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

.listContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: 400px 400px 400px 400px;
  grid-template-rows: 460px 460px 460px;

  padding: 30px;
}